<head>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'forms' %>
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <%= javascript_include_tag('telegram_form.js') %>
</head>

<div class="form_container" id="form-container">
  <h1 class="form_title"><%= @form.title %></h1>
  <p class="form_description"><%= @form.description %></p>
  <%= render partial: "form", locals: {form: @form} %>
</div>

<div id="response-message-success" style="display: none;">
  <p class="form_success">Спасибо, можете закрыть эту страницу</p>
</div>

<div id="response-message-failure" style="display: none;">
  <p class="form_failure">Упс! Что-то пошло не так</p>
</div>

